# Copy this file to .env and fill in your real values.
MAILCHIMP_API_KEY=your-mailchimp-api-key-us10
MAILCHIMP_LIST_ID=your-mailchimp-list-id

# EmailJS settings
EMAILJS_SERVICE_ID=service_vhad54n
EMAILJS_TEMPLATE_ID=template_nxq6yjh
EMAILJS_USER_ID=n8Z_pUybSdrRHxmfq
EMAILJS_SECRET_KEY=your-emailjs-secret-key
EMAILJS_API_URL=https://api.emailjs.com/api/v1.0/email/send

PORT=4000



